@import url(sections/header.css);
@import url("sections/menu.css");
body {
  font-family: "kanit", sans-serif;
}
.hero-container {
  background-color: #f4f7fb;
}
.container {
  width: 90%;
  margin: 0 auto;
}

