/* .footer-container {
    background-color: black;
    display: flex;
  color: #fff;
  justify-content: space-around;
  margin-top:5em;
  padding:1em 0;
  height:40vh;
  }

  .footer-subscribe{
    padding:3rem 0;
    display: flex;
  }

  .footer-add{
    display:flex;
  }

  .btn-subscribe{
    background-color: #eea539;
    border-bottom-right-radius:0.5em;
    border-top-right-radius:0.5em;
    padding:2em;
    border:none;
  } */

  .footer{
background-color: black;
color: white;
padding: 4em 0;
  }

  .footer p{
    font-size: 1.8rem;
    font-weight: bold;
  }

  .footer__container{
    display: flex;
  }
  .footer__logo, .footer__links, .footer__subscribe{
    flex:1;
  }
  .footer__logo p{
    margin: 1.5em 0;
  }
  .footer__icons{
    display: flex;
    gap: 1em;
  }
  .footer__links ul{
    list-style: none;
  }
.footer__links ul li{
    margin-top: 1em;
    font-size: 1.5rem;
}
.footer__links ul li a{
    color: white;
    text-decoration: none;
}

.footer__subscribe form{
    margin-top: 2em;
    display: flex;
   
}
.footer__subscribe form input{
    width: 75%;
    padding: 2em 1em;
    border: none;
    outline: none;
    font-size: 1.1rem;
    border-radius: 7px 0 0 7px;
}
.footer__subscribe form button{
    width: 25%;
    font-size: 1.1rem;
background-color: #eea539;
color: white;
border: none;
border-radius: 0 7px 7px 0;
}