h1 {
  font-size: 60px;
}
.header_nav{
  background-color: #f4f7fb;
  padding: 2em 0;
  margin-bottom: 2em;
}
.header_nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav_center ul {
  list-style-type: none;
  display: flex;
}
.header_nav_center ul li a{
  text-decoration: none;
  color: black;
}
.header_nav_center ul li:hover {
  color: #fff;
  background-color: #eea539;
  cursor: pointer;
}
.header_nav_center ul li {
  padding: 1em 2em;
  font-size: 1.2rem;
}
.header_nav_right{
  display: flex;
  gap: 2em;
}
.header__nav__icon{
  display: none;
  background-color: red;
}
.healthy {
  color: #eea539;
}
.fresh {
  color: #eea539;
}
.hero-icon {
  border: solid lightgrey 1px;
  width: 65%;
  display: flex;
  align-items: center;
  padding: 0.6em 0;
}
.search-input {
  padding: 2em 6em;
  border: none;
  outline: none;
}
.fa-solid {
  font-size: 1.8rem;
  margin-left: 1em;
}
.search-container {
  display: flex;
  align-items: center;
  padding: 1.9em 0;
  border: none;
}
.search-button {
  padding: 2.59em;
  background-color: black;
  color: #f4f7fb;
}
.hero-img{
  padding: 0 3rem;
  background-color:#f4f7fb;
}
.hero-photos {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-images {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2em;

}
.hero-pizza {
  display: flex;
  justify-content: center;
}
.hero-items {
  display: flex;
  justify-content: space-around;
}
.card-category {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-btn {
  padding: 2em 3em;
  background-color: black;
  color: #f4f7fb;
}
