.category {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 3px solid gray;
  cursor: pointer;
}
.card-img{
  background-color:#f4f4f4;
  padding:0 4rem;
  margin-top: 4rem;
}
.card-category {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.category-contaner{
background-color: #f4f4f4; 
}
.category h2:hover {
  color: #eea539;
  padding-bottom: 0.7rem;
  border-bottom: 8px solid #eea539;
}
.btn-button button {
  display: flex;
  background-color: #eea539;
  padding: 1em 4em;
  color: #fff;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 15px;
}
.menu-content {
background-color:#f4f4f4
}
.varieties{
  padding: 0 3rem;
  background-color: #fff;
  display:flex;

  justify-content: center;
}
.varieties-image {
  background-color: black;
  width: 70px;
  height: 70px;
  border-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container p {
  margin: 4em;
}

.content-left {
  margin: 0 auto;
  margin-inline-start: 10%;
}
.contact-container h6 {
  display: flex;
  justify-content: center;
  align-items: center;
}



.contact-images{
display: flex;
justify-content: space-around;
}
.enquire{
  background-color: #f4f4f4;
}
 
.about-us{
  display :flex;
  
  margin:10px;
  background-color: crimson;
}
.testimonials{
  background-color: burlywood;
  padding: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}